.weather-wrapper {
    border: 1px solid #eaecf1;
}
img{
	border: 1px solid #eaecf1;
}
.sidebar .news-list-item h4 a{
    color: #323232;
}
.sidebar .news-list-item h4 {
    font-weight: normal; 
    line-height: 22px; 
    font-size: 17px;
    margin-top: 0px;
}
.detail-summury{
	font-weight: bold;
	color: #4f4f4f;
}
.date{
	color: #9a9a9a;
}
.soure{
	color: #777;
}
.sub-category{
	color: #4f4f4f;
	text-transform: capitalize;
}
.summury{
	color: #777;
}
nav.navbar.bootsnav ul.nav .home{
    padding: 0px 4px;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu li a{
	text-transform: capitalize;
}
.navbar-left{
	height: auto !important;
}
.navbar{
	min-height: 35px !important;
}
.dropdown-toggle-item::after{
	content: none !important;
}
nav.navbar.bootsnav ul.nav > li{
	height: 36px;
}
.active-color {
	background: #c90000;
}
.active-color>a{
	color: #fff !important;
}
.active-menu{
	display: block;
}
.breadcrumb{
	padding: 0px 15px;
}
.breadcrumb-custom{
	margin-top: 10px;
	margin-bottom: 20px;
	float: left; 
	width: 100%; 
	padding-left: 0px; 
	border: 0px;
	background: #f7f8f9;
}
.featured-inner{
	background: #f7f8f9;
	border: 1px solid #eaecf1;
}
.breadcrumb-custom-sub .active a::before{
	width: 4px;
    height: 40px;
    background-color: #c90000;
    content: '';
    display: block;
    float: left;
    margin-right: 8px;
    margin-top: 0px;
}
.breadcrumb-custom-sub .active a{
	font-size: 20px;
}
.breadcrumb-custom-sub a{
	line-height: 39px;
	font-size: 15px;
}
.breadcrumb-custom-sub{
	padding-left: 0px;
	border: 0px;
}
.bk-content ul{
	padding-left: 0px;
    list-style-type: none;
}
.bk-content .p-author{
	text-align: right;
}
.td-category li a:hover{
	color: #fff;
}
span.post-category{
	text-transform: capitalize;
}
.post-body{
	padding: 15px 0px;
}
.post-head{
	padding-left: 0px;
}
.news-list-item{
	border-bottom: 1px dotted #e0e0e0;
}
.news-list-item .img-responsive{
	width: 100%;
}
.best-view-item-sidebar .post-info-2{
    padding-right: 15px;
    padding-left: 0px;
    float: left;
    width: 50% !important;
}
.best-view-item-sidebar .post-info-2 h4{
    font-size: 15px;
}
.best-view-item-sidebar .img-wrapper {
    float: left;
    width: 50% !important;
    max-width: 50% !important;
}
.sidebar-img-wrapper .img-responsive{
    height: 200px;
    object-fit: cover;
}
.post-list-category .img-responsive{
    height: 132px;
    object-fit: cover;
}
nav.navbar.bootsnav ul.nav > li:hover{
	background: #c90000;
	transition: 0.3s;
}
.category-other-post h4{
	font-size: 15px;
    max-height: 40px;
    overflow: hidden;
    line-height: 20px;
}
.category-other-post .img-wrapper{
	width: 100% !important;
	max-width: 100% !important;
}
.category-other-post{
	padding-bottom: 0px;
}
.youtube-wrapper{
	padding: 15px 0px;
}
.border-left{
	border-left: 1px solid #eaecf1;
}
.post-head .title{
	font-size: 25px;
}
.filter-nav{
	margin-right: 0px;
}
.filter-nav ul{
	padding: 0px;
}
.category-same-post .post-info h3{
    height: 65px;
}
.post-info h3{
	max-height: 65px;
    margin-top: 10px;
    overflow: hidden;
    font-size: 17px;
    line-height: 22px;
}
.authar-info li{
	font-weight: normal;
}
.web{
	color: #adb5bd;
}
.td-category .post-category{
	background: #f0f0f0;
	padding: 5px 10px;
	border-radius: 3px;
	color: #444;
}
.td-category .post-category:hover{
	background: #c90000;
	transition: 0.3s;
}
.title-sidebar::before{
	width: 4px;
    height: 20px;
    background-color: #c90000;
    content: '';
    display: block;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
}
.title-sidebar{
	color: #111;
	margin: 0px;
}
.most-viewed, .popular-news{
	padding: 15px 0px 15px 0px;
}
.sidebar .most-viewed .content li .count{
	width: 50%;
}
.sidebar .most-viewed .content li .count img{
	border-radius: 4px;
	width: 100%;
}
.sidebar .most-viewed .content li .text{
	width: 50%;
	padding-left: 0px;
	border-left: 0px;
	font-weight: normal;
}
.sidebar-img-wrapper{
    width: 100% !important;
    max-width: 100% !important;
}
.sidebar .post-info-2 .description{
	font-size: 13px;
	margin-top: -5px;
}
.sidebar ul{
	list-style-type: square !important;
}
.sidebar ul li{
	padding: 5px 5px 5px 0px !important;
	position: relative;
	text-transform: capitalize;
}
.sidebar ul li a{
	font-size: 13px;
}
.sidebar ul li a:hover{
	color: #c90000;
	transition: 0.3s;
}
.sidebar .most-viewed .content li:after {
    left: 0px;
    position: absolute;
    top: 13px;
    background: #777;
    content: "";
    display: table;
    clear: both;
    width: 5px;
    height: 5px;
}
.sidebar{
	padding: 15px;
}
.sidebar-oil{
	width: 100%;
}
.sidebar-oil tr td{
	border: 1px solid #f0f0f0;
	padding: 10px 10px;
	margin-top: 30px;
	font-size: 13px;
}
.sidebar-oil tr td:nth-child(2){
	color: #777;
}
.sidebar-oil tr td:nth-child(3){
	color: #777;
}
.description{
	display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 55px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 13px;
    color: #777;
}
.sidebar .description{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px !important;
    max-height: 120px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.weather-image{
	width: 80px;
}
.main-temp{
	font-size: 28px;
}
.weather-image-small{
	width: 40px;
}
.news-soure a{
	margin-bottom: 0px; color: #adb5bd; font-size: 13px;
}
/*.img-wrapper img{
	border-radius: 4px;
}*/
.articles-list .post-info-2 h4{
	margin-top: 0px;
}
.news-relate img{
	border-radius: 4px;
	width: 215px;
	height: 130px;
	object-fit: cover;
}
.news-relate .grid-item h5, .news-same-category .grid-item h5{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px !important;
    min-height: 60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 15px;
}
.news-same-category img{
	height: 130px;
	object-fit: cover;
	border-radius: 4px;
}
.fb-comments iframe{
	width: 100% !important;
}
.title-popalar{
	text-transform: capitalize;
	font-size: 20px;
	font-weight: bold;
}
.title-popalar::before{
	width: 4px;
    height: 20px;
    background-color: #c90000;
    content: '';
    display: block;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
}
.sub-cate-random .description{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px !important;
    max-height: 80px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 13px;
    color: #333;
}
.sub-cate-random img{
	height: 110px;
	object-fit: cover;
	width: 100%;
}
.title-video{
	line-height: 27px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 80px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.date{
	color: #777;
}
.RYPP .RYPP-playlist > header {
    width: 100%;
    height: 64px;
    padding: 0px 0 0 8px;
    background: #fff;
    border-left: 8px solid #fff; 
    border-right: 8px solid #fff;
    border-bottom: 0px;
}
.RYPP .RYPP-playlist > header h2{
	z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px !important;
    max-height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.youtube-wrapper{
	background: #fff;
}
.playlist-title{
	padding-left: 0px;
	background: #fff;
}
.playlist-title h4{
	color: #111;
}
.RYPP{
	background: #fff;
}
.RYPP .RYPP-playlist > header ._h1{
	color: #111;
}
.RYPP .RYPP-playlist > header p{
	color: #111;
	margin-bottom: 16px;
}
.btn-success{
	background: #c90000 !important;
	border: 0px;
	outline: none;
}
footer h3.wiget-title{
	position: relative;
	margin-bottom: 25px;
}
footer h3.wiget-title::after {
    /* margin-bottom: 0px; */
    left: 0px;
    bottom: -10px;
    background: #c90000;
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
}
footer{
	background: #f7f8f9;
	border-top: 1px solid #eaecf1;
}
@media (max-width: 767px){
	.sidebar .articles-list .post-info-2 p {
	    display: block;
	}
	.news-list-item .post-info-2{
		width: calc(100% - 218px);
	}
}
nav.navbar.bootsnav .navbar-toggle{
	background: none;
}
nav.navbar.bootsnav .navbar-toggle i{
	color: #4f4f4f;
	font-size: 30px;
}
nav.navbar.bootsnav ul.nav > li > a{
	text-transform: capitalize;
	color: #4f4f4f;
	line-height: 36px;
}
.post_details_block p{
	margin: 16px 0px;
	line-height: 22px !important;
	font-size: 15px;
}
.post_details_block .note-image{
	text-align: center !important;
    font-style: italic;
    font-size: 15px;
    color: #777;
}
.zoom-image{
	z-index: 33;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.3s ease-in-out;
    left: 100%;
    padding-top: 50px;
}
.zoom-image-active{
	left: 0px;
}
#image-full{
	width: 45%;
	margin-left: auto;
	margin-right: auto;

}
#image-full p{
	margin-top: 10px;
}
#image-full i{
	font-size: 25px;
	font-weight: bold;
	color: #333;
}
.image-full{
	width: 100%;
}
.bk-content{
    color: #454545;
}
.bk-content .image-detail, .post_details_block figure img{
	cursor: crosshair;
}
#most-today{
	padding-left: 0px; 
	list-style-type: none;
}
#most-today li{
	max-height: 45px;
	overflow: hidden;
}
#most-today hr{
	margin-top: 8px;
	margin-bottom: 8px;
}
.menu-mobile-list {
    transition: .5s;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    right: 0px;
    top: 0px;
    z-index: 10;
}
.menu-mobile-list>ul {
	position: relative;
	overflow: hidden;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 0px;
    height: 100%;
    list-style-type: none;
    background: #fff;
    margin: 0px;
    width: 50%;
}
.menu-mobile-list>ul>li{
	height: auto;
	padding-left: 20px;
	border-bottom: 1px solid #eaecf1;
}
.menu-mobile-list ul li a{
	color: #4f4f4f;
	text-transform: capitalize;
	line-height: 40px;
}
.menu-mobile-list ul li ul {
	padding-left: 0px;
	list-style-type: none;
	display: none;
}
.menu-mobile-list ul .dropdown span i{
	float: right;
    padding-right: 20px;
    padding-top: 16px;
    font-size: 10px;
}
.dropdown-color{
	background: #eaecf1;
}
.dropdown-color i{
	color: #777;
}
.open-menu-mobile {
	margin-top: 15px;
    float: left;
    display: inline-block;
    font-size: 27px;
    color: #4f4f4f;
    display: none;
}

.menu-mobile-list .close-menu{
	position: absolute;
	right: 20px;
	top: 10px;
    background: #c90000;
    padding: 7px 7px;
    color: #fff;
    font-weight: bold;
}
#featured-owl .item .img-responsive{
	height: 100px; 
	object-fit: cover; 
	width: 100%;
}
.logo{
	border: 0px !important;
}
@media (max-width: 479px) {
	.post_details_block p {
		font-size: 17px;
		line-height: 23px !important;
	}
	.sidebar-img-wrapper .img-responsive {
		height: auto;
	}
	#featured-owl .item .img-responsive {
		height: 200px;
	}
	#featured-owl .item .featured-post h4 a{
		font-size: 17px;
		font-weight: normal !important;
	}
}
@media (max-width: 992px) {
	.open-menu-mobile{
		display: block;
	}
	.menu-mobile-list img{
		max-width: 50% !important;
		padding: 10px 5px 10px 20px;
	}
}
@media (max-width: 767px) {
	.RYPP.r16-9 .RYPP-video {
		padding-top: 0px;
	}
	.sub-cate-random img {
		height: auto;
	}
	.category-other-post h4 a{
		font-size: 19px;
	}
}
@media (min-width: 425px) and (max-width: 767px) {
	#featured-owl .item .img-responsive{
		height: 200px; 
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.open-menu-mobile {
		margin-top: 0px;
	}
	.search a {
		padding-top: 0px !important;
	}
}